.app {
}

.header {
	height: var(--header-height);
	background-image: linear-gradient(to bottom, #f53f2d 0%, #fd6133 100%);
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: var(--nav-min-height);
}
.nav .nav__list {
	margin-top: 4px;
}

.nav .nav__item {
	position: relative;
	margin: 0px 8px;
	min-height: 26px;
}

.nav .nav__item,
.nav .nav__item--link {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--white-color);
}

.nav .nav__item:hover,
.nav .nav__item--link:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
}
.nav .nav__item--link {
}

.nav__item--bold {
	font-weight: 500 !important;
}

.nav__item--separate::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 16px;
	display: block;
	right: -9px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #fb8096;
}

.nav .nav__item--icon {
	margin: 0px 4px;
}

.nav .nav__item--icon i {
	font-size: 1.8rem;
}

.nav .nav__item--social {
	margin: 0 8px 0 0;
}
.nav .nav__item--text {
	cursor: initial;
	color: var(--white-color);
}

/* Header QR code */
.nav__qr {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 186px;
	border-radius: 2px;
	padding: 8px;
	background-color: var(--white-color);
	animation: fadeIn 0.3s ease-in-out;
}

.nav__qr::after {
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: transparent;
}
/* .nav__qr > img {
	width: 100%;
} */
.nav__qr-apps {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.nav__qr-apps img {
	height: 19px;
	max-width: 50%;
	padding: 0 10px;
}

.nav__qr-apps img:nth-child(n + 3) {
	margin-top: 6px;
}

.nav__item--qr:hover .nav__qr {
	display: block;
}

/*Header-Notifications */

.nav__notify {
	position: absolute;
	top: 100%;
	right: 0;
	min-width: 500px;
	background-color: var(--white-color);
	border-radius: 5px;
	z-index: 1;
	box-shadow: 0 1px 4px 0px var(--white-color);
	animation: scaleUp 0.2s ease-in-out;
	transform-origin: calc(100% - 50px) top;
	display: none;
	will-change: opacity, transform;
}

.nav__notify::before {
	content: '';
	position: absolute;
	top: -3px;
	right: 38px;
	width: 25px;
	height: 25px;
	background-color: var(--white-color);
	transform: rotate(45deg);
}

.nav__item-notify:hover .nav__notify {
	display: block;
}
.nav__notify-header {
	/* padding: 8px 8px 0; */
	border: 1px solid #d3d3d3;
	height: 50px;
	cursor: default;
}

.nav__notify-header h3 {
	margin-left: 12px;
	color: #999999;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 50px;
}

.nav__notify-item:hover {
	background-color: #f5f5f5;
}
.nav__notify-item--read {
	background-color: rgba(238, 75, 43, 0.08);
}
.nav__notify-link {
	display: flex;
	padding: 10px;
}
.nav__notify-link img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}
.nav__notify-info {
	margin-left: 10px;
}
.nav__notify-info h5 {
	font-weight: 500;
	color: var(--black-color);
}

.nav__notify-info p {
	margin-top: 4px;
	font-size: 1.2rem;
	color: var(--text-color);
}

.nav__notify-more {
	margin: 0 auto;
	width: calc(100% - 20px);
}
.nav__notify-more a {
	display: block;
	color: var(--black-color);
	height: 50px;
	font-weight: 500;
	line-height: 50px;
	text-align: center;
	margin: 8px 0px;
	background-color: #f5f5f5;

	font-size: 1.6rem;
}

/* Auth form */
.auth-form {
	padding: 32px;
	width: 500px;
	background-color: var(--white-color);
	overflow: hidden;
	border-radius: 5px;
}

.auth-form__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
}

.auth-form__header h3 {
	font-size: 2.1rem;
	font-weight: 400;
	color: var(--text-color);
}

.auth-form__header span {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--primary-color);
	cursor: pointer;
}

.auth-form__form-group {
	margin-top: 16px;
}

.auth-form__form-group > input {
	width: 100%;
	height: 40px;
	padding: 0 12px;
	outline: none;
	border: 1px solid #d3d3d3;
	border-radius: 2px;
}

.auth-form__form-group > input:focus {
	border: 1px solid #999999;
	box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
}

.auth-form__help {
	display: flex;
	justify-content: flex-end;
	font-size: 1.2rem;
}
.auth-form__help-forget {
	color: var(--primary-color);
}
.auth-form__help-help {
	color: initial !important;
	margin-left: 10px;
}
.auth-form__aside {
	margin-top: 18px;
	font-size: 0.9rem;
	line-height: 1.2rem;
}

.auth-form__aside p {
	text-align: center;
}
.auth-form__aside a {
	color: var(--primary-color);
}

.auth-form__btn-controls {
	margin-top: 16px;
	display: flex;
	justify-content: flex-end;
}
.auth-form__btn-controls button {
	text-transform: uppercase;
}
.auth-form__btn-controls button:last-child {
	margin-left: 16px;
}
.auth-form__line {
	width: 100%;
	height: 1px;
	background-color: #d3d3d3;
	margin: 30px 0;
	position: relative;
}

.auth-form__line span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.4rem;
	font-weight: 500;
	color: #d3d3d3;
	background-color: var(--white-color);
	padding: 0 16px;
	z-index: 1;
	text-transform: uppercase;
}

.auth-form__social-login-btns {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.auth-form__social-login-btns a {
	flex: 1;
	text-align: center;
	color: var(--white-color);
}
.auth-form__social-login-btns a i {
	margin: 0 8px;
}
.auth-form__social-login-btns .btn--facebook {
	margin-right: 8px;

	background-color: #273b69;
}

.auth-form__social-login-btns .btn--google {
	margin-left: 8px;

	background-color: #e53935;
}
/* Header with search */
.header-with-search {
	height: calc(var(--header-height) - var(--nav-min-height));
	display: flex;
	align-items: stretch;
	/* background-color: #999999; */
}
.header__search {
	flex: 1;
	background-color: white;
}
.header__logo {
	width: 212px;
	padding-right: 50px;
}
.header__logo--img {
	fill: var(--white-color);
}

.header__cart {
	margin: 0px 14px;
	align-self: center;
}
.header__cart-link {
	padding: 5px;
	display: inline-block;
	height: 100%;
}
.header__cart-icon {
	height: 100%;
	font-size: 1.8rem;
	color: var(--white-color);
}
