@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 30px;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	display: flex;
	width: 90vw;
}
.panel {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 40px;
	flex: 0.6;
	margin: auto 10px;
	height: 80vh;
	cursor: pointer;
	color: rgb(250, 253, 255);
	position: relative;
	transition: flex 0.5s ease-in-out;
	overflow: hidden;
}
.panel h3 {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 0.8rem;
	opacity: 0;
	transition: opacity 0.2s ease-in-out 0.4s;
}

.panel.active {
	flex: 6;
}

.panel.active h3 {
	opacity: 1;
}

@media screen and (max-width: 480px) {
	.container {
		width: 100vw;
	}
	.panel:nth-last-child(1),
	.panel:nth-last-child(2) {
		display: none;
	}
}
